<!DOCTYPE html>
<html>
<head>
  <title>Recipe Tracker</title>

  <!-- google font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Recipe Tracker</h1>
  <header>
    <a href="/">Home</a><br>
    <a href="/recipes/search">Search</a>
  </header>

  <main>
    <%- body %>
  </main>
</body>
</html>
