body {
  background-color: #191f2c;
  color: #e5e7eb;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

a { color: #16b1f3; }

header {
  padding: 16px;
  background-color: #020617;
}

main { padding: 16px; }

img { border-radius: 8px; }

button {
  background-color: #16b1f3;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.notes-area {
  width: 50rem;
  height: 3rem;
}
